<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stcam.stcamproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".Application.STApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.AddDeviceActivity" />
        <activity android:name=".Activity.AddDeviceOneStepActivity" />
        <activity
            android:name=".Activity.PlayLiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.DeviceShareActivity" />
        <activity
            android:name=".Activity.PlayBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.PlayBackListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AlarmDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.MediaPhotoListActivity" />
        <activity
            android:name=".Activity.MediaPhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.AddDeviceOneStepNext" />
        <activity android:name=".Activity.AddDeviceAP2StaActivity" />
        <activity android:name=".Activity.ChangeDevicePwdActivity" />
        <activity android:name=".Activity.AddDeviceWlanActivity" />
        <activity android:name=".Activity.AddDeviceAP2StaSetup" />
        <activity android:name=".Activity.SettingActivity" />
        <activity
            android:name=".Activity.LedControlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.ChangeLoginPasswordActivity" />
        <activity android:name=".Activity.ForgetPwdActivity" />
        <activity android:name=".Activity.SDVolumeManagerActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4fed762adbf5636271fae1e9fffd1bad9abf368" />

        <activity android:name=".Activity.PushSettingActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.ResetPwdActivity" />
        <activity android:name=".Activity.ShareManagerActivity" />
        <activity
            android:name=".Activity.VideoPlayerAct"
            android:screenOrientation="landscape" />
        <activity android:name=".Activity.BaseAppCompatActivity" />
        <activity android:name=".Activity.MainViewPagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name="stcam.stcamproject.Activity.JGPushReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="stcam.stcamproject" />
            </intent-filter>
        </receiver>




        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="stcam.stcamproject" />
            </intent-filter>
        </activity>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="stcam.stcamproject.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="false"
            />



        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="stcam.stcamproject.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="stcam.stcamproject" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="e7a4318dfe0393afc10aec35" /> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

    <permission
        android:name="stcam.stcamproject.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="stcam.stcamproject.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>